<nav class="breadcrumbs">
    <ul class="breadcrumbs__list ul--clear" itemscope itemtype="http://schema.org/BreadcrumbList">
        <li class="breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a class="breadcrumbs__link breadcrumbs__link--home" itemscope itemtype="http://schema.org/Thing" itemprop="item" href="#" title="Главная">
                <span itemprop="name">Главная</span>
            </a>
        </li>
        <li class="breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a class="breadcrumbs__link" itemscope itemtype="http://schema.org/Thing"
                itemprop="item" href="#" title="Новости и медиа">
                <span itemprop="name">Новости и медиа</span>
            </a>
        </li>
        <li class="breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <span class="breadcrumbs__link is-current" itemscope itemtype="http://schema.org/Thing"
            itemprop="item"><span itemprop="name">Пресс-релизы и&nbsp;новости</span></span>
        </li>
    </ul>
</nav>