.wrapper {
  height: 680px;
  overflow: hidden;
}

.scheme {
  &__box {
    cursor: pointer;
    z-index: 9;
  }

  &__wrapper {
    position: relative;
    max-width: 548px;
    height: 700px;
    margin-left: auto;
    margin-right: auto;
    overflow-x: scroll;

    svg {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 548px;
      height: 658px;
    }
  }

  &__item {
    position: absolute;
    cursor: pointer;
  }

  &__popup {
    display: none;
    position: absolute;
    width: 293px;
    padding: 22px 18px;
    background: #F8F8F8;
    box-shadow: 0px 4px 12px rgba(35, 31, 32, 0.2);
    z-index: 10;
    font-family: "Roboto";
    font-size: 16px;
    line-height: 24px;
    color: #231F20;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 15px;
      height: 15px;
      background-color: #D728F4;
    }
  }
}
