<div class="scheme">
  <div class="scheme__row">
    <div class="scheme__item scheme-item scheme-item_color_blue">
      <p class="scheme-item__title">CEO</p>
      <span class="scheme-item__trigger"></span>
      <div class="scheme-item__popup">
        <p class="scheme-item__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
        </p>
      </div>
      <span class="scheme-item__arrow-down"></span>
    </div>
  </div>
  <div class="scheme__row">
    <div class="scheme__item scheme-item scheme-item_color_blue">
      <p class="scheme-item__title">Management</p>
      <span class="scheme-item__trigger"></span>
      <div class="scheme-item__popup">
        <p class="scheme-item__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
        </p>
      </div>
      <span class="scheme-item__arrow-down scheme-item__arrow-down_colored"></span>
      <span class="scheme-item__arrow-right"></span>
      <span class="scheme-item__arrow-left"></span>
    </div>
  </div>
  <div class="scheme__row">
    <div class="scheme__item scheme-item">
      <p class="scheme-item__title">Health, Safety, and Environment Vice President</p>
      <span class="scheme-item__trigger"></span>
      <div class="scheme-item__popup">
        <p class="scheme-item__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
        </p>
      </div>
    </div>
    <div class="scheme__item scheme-item">
      <div class="scheme-item__title"><span>Corporate Strategy and Performance management, Vice President</span> </div>
      <span class="scheme-item__trigger"></span>
      <div class="scheme-item__popup">
        <p class="scheme-item__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
        </p>
      </div>
    </div>
    <div class="scheme__item scheme-item">
      <p class="scheme-item__title">HR Vice-President</p>
      <span class="scheme-item__trigger"></span>
      <div class="scheme-item__popup">
        <p class="scheme-item__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
        </p>
      </div>
    </div>
  </div>
  <div class="scheme__row">
    <div class="scheme__item scheme-item scheme-item_color_red">
      <p class="scheme-item__title">Directorates of corresponding functional lines</p>
      <span class="scheme-item__trigger"></span>
      <div class="scheme-item__popup">
        <p class="scheme-item__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
        </p>
      </div>
      <span class="scheme-item__arrow-down scheme-item__arrow-down_pos_top scheme-item__arrow-down_big"></span>
      <span class="scheme-item__line_left"></span>
      <span class="scheme-item__line_right"></span>
    </div>
  </div>
</div>
